/* CSS RESET */
*, *::before, *::after {
  box-sizing: border-box;
}
* {
  margin: 0;
}
html, body {
  height: 100%;
}
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  font-family: monospace;
}
img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}
input, button, textarea, select {
  font: inherit;
}

/* WEB APP STYLING */
#wallpaper {
  height: 93vh;
  background-size: cover;
  background-position: bottom;
  background-repeat: no-repeat;
  background-color: #080808;
}
.button {
  width: 100px;
  height: 7vh;
  border-radius: 5px;
  background-color: rgba(0,0,0,0.8);
  color: #ffffff;
  cursor: pointer;
  margin: 5px;
  font-size: 1.2em;
}
#footer {
  width: 100%;
  background-color: #000000;
  color: #ffffff;
  font-size: 1.2em;
  height: 7vh;
}
.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}
#likeBtn {
  font-size: 1.7em;
}